/*  Personal Site CSS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/*  PRINCIPAL CSS */
body {
    background-color: #1f2028;
    display: grid;
}

/*  HEADER */

header {
    background-color: #1f2028;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
}


.logo {
    width: 7%;
}

#logo{
    justify-self: left;
}

.logo:hover {
        opacity: .9;
        transform: scale(1.1);
        transition: 1s;
}

#resume {
    grid-column: 2/3;
    justify-content: end;
    margin-right: 40px;
    border: 1px solid;
    padding: 3px;
    box-shadow: 5px 3px;
    color: #0E9BAD;
    
}

#resume:hover{
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
    border: 1px solid;
    border-color: #dbdbdb;
    box-shadow: 5px 3px #dbdbdb;
}

#aresume{
    color: #1f2028;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #dbdbdb;
}

.greathone{
    position: absolute;
    color: #282931;
    font-size: 15vw;
    top: 25px;
    left: 500px;
    z-index: -1;
    grid-column: 1/10;
    grid-row: 1/5;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #0E9BAD;
}

p,
label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: #dbdbdb;
}

a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    margin: 35px;
    align-items: center;
}

/*  OVERLAY*/

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.overlay a:hover,
.overlay a:focus {
    color: #0E9BAD;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#kmore {
    font-size: 1.5rem;
    grid-column: 4/3;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
    justify-self: end;
    margin-right: 30px;
}

#kmore:hover {
    color: #0E9BAD;
    transition: .5s;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

/*  FOOTER*/
footer {
    display: grid;
    justify-items: center;
}

.imgfoot {
    width: 32px;
}

.imgfoot:hover {
    filter: contrast(0%);
    transition: .5s;
}

.contact {
    margin: 10px;
}

/*  Israel Carmona PAge */

.meint {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

.h2side {
    grid-column: 2/5;
    grid-row: 1/2;
}

.h1side {
    grid-column: 2/6;
    grid-row: 2/3;
    font-size: 80px;
    margin: 0;
    color: #dbdbdb;
}

.h2side2 {
    grid-column: 2/5;
    grid-row: 3/4;
}

.pside1 {
    grid-column: 2/7;
    grid-row: 4/5;
    text-align: justify;
    line-height: 1.5;
    font-size: 2rem;
}

.pside2 {
    grid-column: 2/7;
    grid-row: 6/7;
    text-align: left;
    line-height: 1.5;
    font-size: 2rem;
}

.mepic {
    width: 60%;
    height: auto;
    grid-row: 1/5;
    grid-column: 7/9;
    align-self: center;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}



.pfoot {
    border: 0;
    align-self: center;
}

.h2lang {
    grid-row: 5/6;
    grid-column: 3/7;
    justify-self: center;
}

.imgh {
    width: 32px;
    grid-row: 7/8;
    grid-column: 3/4;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

.imgh:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.htpar {
    grid-column: 3/4;
    grid-row: 8/9;
    color: #dbdbdb;
    align-self: center;
    justify-self: center;
}

.imgc {
    width: 32px;
    grid-row: 7/8;
    grid-column: 4/5;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

.imgc:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}


.cspar {
    grid-column: 4/5;
    grid-row: 8/9;
    color: #dbdbdb;
    align-self: center;
    justify-self: center;
}

.imgj {
    width: 32px;
    grid-row: 7/8;
    grid-column: 5/6;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

.imgj:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.javpar {
    grid-column: 5/6;
    grid-row: 8/9;
    color: white;
    align-self: center;
    justify-self: center;
}

.imgp {
    width: 32px;
    grid-row: 7/8;
    grid-column: 6/7;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

.imgp:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.pytpar {
    grid-column: 6/7;
    grid-row: 8/9;
    color: #dbdbdb;
    align-self: center;
    justify-self: center;
}

.imgcs {
    width: 32px;
    grid-row: 7/8;
    grid-column: 7/8;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

.imgcs:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}
.csharpar {
    grid-column: 7/8;
    grid-row: 8/9;
    color: #dbdbdb;
    align-self: center;
    justify-self: center;
}

/*  Contact */

.containermywork {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

.h1mywork {
    grid-column: 3/8;
    grid-row: 1/2;
    font-size: 80px;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dbdbdb;
}

.pmywork {
    grid-column: 3/8;
    grid-row: 2/3;
    text-align: center;
    line-height: 1.5;
    font-size: 1.300em;
}

.h2mywork {
    grid-column: 3/8;
    grid-row: 3/4;
    justify-self: center;
}

.h2mywork2 {
    grid-column: 6/8;
    grid-row: 3/4;
    justify-self: center;
}

.imgnexb {
    grid-column: 3/8;
    grid-row: 4/5;
    justify-self: center;
    width: 500px;
    height: auto;
    border: 1px solid #0E9BAD;
    padding: 20px;
    box-shadow: 5px 10px #0E9BAD;
    margin-bottom: 30px;
}

.containercontact {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

.pcontact {
    grid-column: 2/6;
    grid-row: 2/3;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.300em;
    line-height: 1.5;
}

.formarea {
    grid-column: 2/6;
    grid-row: 3/5;
    padding: 50px;

}

.form1 {
    grid-column: 2/5;
    grid-row: 3/4;
}

.imgmap {
    grid-column: 6/9;
    grid-row: 2/6;
    width: 400px;
    height: auto;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 10px #0E9BAD;
    margin-bottom: 30px;
    justify-self: center;
}


input[type=text] {
    background-color: #22232c;
    color: white;
    grid-column: 2/5;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    grid-row-start: 3;
    border: 0;
    outline: none;
    justify-self: center;
}

input[type=text]:focus {
    border-bottom: 5px solid #dbdbdb;
    transition: .7s;
}

input[type=text]::placeholder {
    color: #dbdbdb;
    padding-left: 10px;
}

input[type=email] {
    background-color: #22232c;
    color: #dbdbdb;
    grid-column: 2/5;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    justify-self: center;
    border: 0;
    outline: none;
}

input[type=email]:focus {
    border-bottom: 5px solid #dbdbdb;
    transition: .7s;
}

input[type=email]::placeholder {
    color: #dbdbdb;
    padding-left: 10px;
}

#msg {
    background-color: #22232c;
    color: white;
    margin-top: 10px;
    grid-column: 2/6;
    justify-self: center;
    width: 100%;
    height: 150px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    outline: none;
    resize: none;
}

#msg:focus {
    border-bottom: 5px solid #dbdbdb;
    transition: .7s;
}

#msg::placeholder {
    color: #dbdbdb;
    padding: 10px;
}

.button {
    padding: 7px;
    background-color: #2C2C2A;
    color: #dbdbdb;
    font-size: 16px;
    border: 2px solid #dbdbdb;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
}

.button:hover {
    background-color: #dbdbdb;
    color: #1f2028;
    transition: 1s;
}

/*My Links */

.maincontainerlinks{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
}

.mylinksp1 {
    font-size: 2em;
    grid-column: 3/7;
    grid-row: 3/4;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.mylinksp2 {
    grid-column: 3/7;
    grid-row: 4/5;
    text-align: center;
    font-style: italic;
    margin: 0;
    line-height: 1.5;
    font-size: 1.000em;
}

.h2mylinks {
    grid-column: 3/7;
    grid-row: 5/6;
    justify-self: center;
}

.mepiclinks {
    width: 150px;
    grid-column: 3/7;
    grid-row: 2/3;
    border-radius: 50%;
    justify-self: center;
    margin-top: 25px;
    
}


.listlinks{
    grid-row: 6/7;
    grid-column: 3/7;
    margin-top: 0;
}
.mylinks{
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border: 5px;
    border-radius: 30px;
    color: #1f2028;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    grid-row: 6/7;
    
}


.mylinks:hover{
    transition: 1s;
    background-color: #80d2d8;
    
}
#links{
    color: #1f2028;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}


/* My Portfolio */

#firstpro
{
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
    margin: 5px;
    color: #0E9BAD;
}

#aimgone{
    grid-column: 3/5;
    grid-row: 4/5;
}


#imgfirst{
    width: 100%;
    grid-column: 3/5;
    grid-row: 4/5;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;

}

#imgfirst:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: .5s;
}

#secondpro
{
    grid-column: 6/8;
    grid-row: 3/4;
    justify-self: center;
    margin: 5px;
    color: #0E9BAD;
}

#aimgtwo{
    grid-column: 6/8;
    grid-row: 4/5;
}

#imgsnd{
    width: 100%;
    grid-column: 6/8;
    grid-row: 4/5;
    justify-self: center;
    border: 1px solid #0E9BAD;
    padding: 5px;
    box-shadow: 5px 3px #0E9BAD;
}

#imgsnd:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: .5s;
}




@media screen and (max-width: 700px) {

    nav,
    footer,
    .maincontainer {
        display: block;
        height: auto;
        text-align: center;
    }

    .logo{
        width: 40%;
        justify-self: left;
        margin-left: 0;
    }

    .mepic{
        position: fixed;
        top: 260px;
        width: 20%;
    }

    nav a {
        display: block;
        margin: 15px;
        padding-top: 20px;

    }

    a {
        margin: 15px;
    }

    .imgh {
        margin: 15px;
    }

    .imgmap {
        width: 300px;
        height: auto;
    }

    p {
        margin: 15px;
    }

    .h1side {
        font-size: 2rem;
    }

    .h2side {
        font-size: 1.2rem;
        text-align: left;
        margin-left: 10px;
    }

    .pside1{
        font-size: 1.3rem;
        text-align: left;
        margin-top: 200px;
    }

    .pside2{
        font-size: 1.3rem;
        text-align: left;
    }

    .h1mywork {
        font-size: 50px;
    }

    .h1wido {
        font-size: 50px;
    }

    .mepiclinks {
        width: 90px;
        
    }

    #imgfirst{
        width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    

    #imgsnd{
        width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .greathone{
        position: absolute;
        color: #282931;
        top: 160px;
        text-align: left;
        left: 100px;
        font-size: 15vw;
        z-index: -1;
        grid-column: 1/10;
        grid-row: 1/5;
    }


    
    
}

@media screen and (max-width: 1216px) {
    .containermywork {
        display: block;
        height: auto;
        text-align: center;
    }

}

@media screen and (max-width: 928px) {
    .containercontact {
        display: block;
        height: auto;
        text-align: center;
    }

}